*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*border: 2px solid red;*/
}

.main-container{
    background-image: url('./assets/background_image.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-size: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 5px solid white;
    border-length:50%;*/
    position: relative;
}

.list-items{
    border-bottom: 3px solid white;
}

ul {
    display: flex;
    flex-grow:1;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-right: 500px;
}

.logo-image{
    margin-left: 50px;
    margin-top: 20px;
    width: 140px;
    height: 50px;
}


.contactUs{
    display: flex;
    gap: 5px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 250px;S
    font-size: 20px;
    font-weight: 600;
}

.big-heading{
    font-size: 52px;
    color: white;
    margin-left: 50px;
    margin-top: 150px;
}

.learn-more-button{
    padding: 20px 40px;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 50px;
    cursor: pointer;
}

.puzzle-card{
    position: absolute;
    top:200px;
    right: 180px;
    background-color:#f1f1f122;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    width: 350px;
    height: 200px;
}

.puzzle{
    background-color: #f1f1f1;
    padding: 5px 40px;
    border-radius: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

.puzzle-text{
    color: white;
}

.puzzleLine {
    position: absolute;
    height: 80px;
    width: 2px;
    background-color: #f1f1f144;
    bottom: -80px;
    right: 90px;
}

.puzzleDot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 100%;
    bottom: -100px;
    right: 81px;
}

.bulb-card{
    position: absolute;
    top:600px;
    right: 600px;
    background-color:#f1f1f122;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    width: 350px;
    height: 200px;
}

.bulb{
    background-color: #f1f1f1;
    padding: 5px 40px;
    border-radius: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

.bulb-text{
    color: white;
}

.bulbLine {
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #f1f1f144;
    bottom: 120px;
    right: -80px;
}

.bulbDot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 100%;
    bottom: 110px;
    right: -100px;
}